:root {
  --primary-white: #fff;
}

/* ---------------------------Navbar------------------- */
.logo {
  width: 10rem;
  height: 4rem;
  border-radius: 20%;
}

/* ----menu links ----*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

nav a.nav-link:hover {
  color: pink !important;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}
